<template>
  <div class="page-content">
    <div class="container-fluid">
				<ol class="breadcrumb bg-white">
					<li><a href="#">Home</a></li>
					<li><a href="#">Library</a></li>
					<li class="active">Data</li>
				</ol>
           <div class="row">
        <div class="col-md-3">
          <section class="card mb-3">
<header class="card-header">
          Sections
          <button type="button" class="modal-close hide"><i class="font-icon-close-2"></i></button></header>
            <div class="card-block">
              <ul class="nav nav-pills nav-ver">
                <li class="nav-item">
                  <a :class="{ active: tab_page == 'options' }" class="nav-link" @click="tab_page = 'options'">Settings</a>
                </li>
                <li class="nav-item ">
                  <a :class="{ active: tab_page == 'forms' }" class="nav-link" @click="tab_page = 'forms'">Forms</a>
                </li>

                <li class="nav-item">
                  <a :class="{ active: tab_page == 'reports' }" class="nav-link" @click="tab_page = 'reports'">Reports</a>
                </li>

                <li class="nav-item">
                  <a :class="{ active: tab_page == 'images' }" class="nav-link"  @click="tab_page = 'images'">Gallery</a>
                </li>
                <li class="nav-item">
                  <a :class="{ active: tab_page == 'times' }" class="nav-link"  @click="tab_page = 'times'">Permissions</a>
                </li>
              </ul>

            </div>
          </section>
        </div>
  
  
        <div class="col-md-9">
    <section class="box-typical">
        <header class="box-typical-header">
          <div class="tbl-row">
                        <div class="tbl-cell tbl-cell-action-bordered rb-1">
              <button type="button" class="action-btn">
                <span class="icon fa fa-long-arrow-left"></span>
            </button>
            </div>
            <div class="tbl-cell">
              <h4 class="item-title">

        {{post.title || ''}}
              </h4>
            </div>


            <div class="tbl-cell tbl-cell-action-bordered">
              <button type="button" class="action-btn">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
            </div>
            <div class="tbl-cell tbl-cell-action-bordered">
              <button type="button" class="action-btn">
                <span class="icon fa fa-ban"></span>
            </button>
            </div>
            <div class="tbl-cell tbl-cell-action-bordered">
              <button type="button" class="action-btn">
                <span class="icon fa fa-check"></span>
            </button>
            </div>
          </div>
        </header>
      </section>

<section  v-if="tab_page == 'options'">


      <section class="card mb-3">
        <header class="card-header">
          Options
          <button type="button" class="modal-close">
            <i class="font-icon-close-2"></i>
          </button>
        </header>
        <div class="card-block">
          <div class="row">
            <div class="col-md-8">
              <fieldset class="form-group">
							<label class="form-label semibold" for="exampleInput">Title</label>
							<input type="text" class="form-control" v-model="post.title"  placeholder="Title">
							<small class="text-muted">field.help_text</small>
						</fieldset>

                          <fieldset class="form-group">
							<label class="form-label semibold" for="exampleInput">Body</label>
							<textarea rows="6" v-model="post.body" class="form-control" placeholder="Body"></textarea>
							<small class="text-muted">field.help_text</small>
						</fieldset>
            </div>
            <div class="col-md-4">
              <div class="text-center">
<img src="assets/img/pizza.jpg" class="img-fluid rounded img-thumbnail" alt="" title="" style="">
</div>

            </div>
          </div>

        </div>
      </section>
      <section class="card mb-3">
        <header class="card-header">
          Options
          <button type="button" class="modal-close">
            <i class="font-icon-close-2"></i>
          </button>
        </header>
        <div class="card-block">
          				<form>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Text</label>
						<div class="col-sm-10">
							<p class="form-control-static"><input type="text" class="form-control" id="inputPassword" placeholder="Text"></p>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Text Disabled</label>
						<div class="col-sm-10">
							<p class="form-control-static"><input type="text" disabled class="form-control" id="inputPassword" placeholder="Text Disabled"></p>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Text Readonly</label>
						<div class="col-sm-10">
							<p class="form-control-static"><input type="text" readonly class="form-control" id="inputPassword" placeholder="Text Readonly"></p>
						</div>
					</div>
					<div class="form-group row">
						<label for="inputPassword" class="col-sm-2 form-control-label">Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="inputPassword" placeholder="Password">
						</div>
					</div>
					<div class="form-group row">
						<label for="exampleSelect" class="col-sm-2 form-control-label">Select</label>
						<div class="col-sm-10">
							<select id="exampleSelect" class="form-control">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label for="exampleSelect2" class="col-sm-2 form-control-label">Multiple select</label>
						<div class="col-sm-10">
							<select multiple class="form-control" id="exampleSelect2">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label for="exampleSelect" class="col-sm-2 form-control-label">Textarea</label>
						<div class="col-sm-10">
							<textarea rows="4" class="form-control" placeholder="Textarea"></textarea>
						</div>
					</div>
				</form>


        </div>
      </section>

        <section class="box-typical" v-box-typical>
        <header class="box-typical-header">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-title">
Prices
            </div>
            <div class="tbl-cell tbl-cell-actions">

              <button type="button" class="btn btn-primary btn-sm">
                <span class="icon fa fa-plus"></span> New Price
              </button>
            </div>
          </div>
        </header>

        <div class="box-typical-body">
          
      <table id="table-edit" class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>
            Price Name
          </th>
          <th>Price</th>
          <th width="55">Manage</th>
        </tr>
        </thead>
        <tbody>
<tr>
          <td>
            <input type="text" class="form-control" placeholder="Küçük" value="Küçük" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" value="200" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>
                                           <div class="btn-group btn-group-sm" style="float: none;">
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <i class="fa fa-ban"></i>
                                            </button>
                                            <button type="button" class="tabledit-delete-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                           </div>
            </td>
        </tr>
        <tr>
          <td>
            <input type="text" class="form-control" placeholder="Küçük" value="Küçük" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" value="200" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>
                                           <div class="btn-group btn-group-sm" style="float: none;">
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <i class="fa fa-ban"></i>
                                            </button>
                                            <button type="button" class="tabledit-delete-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                           </div>
            </td>
        </tr>
        </tbody>
      </table>
        </div><!--.tab-content-->
      </section><!--.box-typical-->
</section>

      <section class="card mb-3"  v-if="tab_page == 'images'">
        <header class="card-header">
          Gallery
          <button type="button" class="modal-close">
            <i class="font-icon-close-2"></i>
          </button>
        </header>
        <div class="card-block">
          <div class="contacts-page-col-left">
              <div class="contacts-page-col-left-in">
resimler

              </div><!--.contacts-page-col-left-in-->
            </div><!--.contacts-page-col-left-->
            <div class="contacts-page-col-right">

              <form class="contacts-page-section">
                <header class="box-typical-header-sm">Select</header>

                <button type="submit" class="btn btn-rounded">Upload</button>
              </form>
            </div><!--.contacts-page-col-right-->
        </div>
      </section>

      <section class="card mb-3"  v-if="tab_page == 'forms'">
        <header class="card-header">
          Forms
          <button type="button" class="modal-close">
            <i class="font-icon-close-2"></i>
          </button>
        </header>
        <div class="card-block">
                              <table id="table-xs" class="table table-bordered table-hover table-xs">

         <thead>
        <tr>
          <th><input type="text" class="form-control" placeholder="name"/></th>
          <th>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>
            </th>
          <th class="table-icon-cell">
                        <button class="btn btn-primary btn-sm">
              <i class="icon fa fa-plus"></i>
            </button>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <input type="text" class="form-control" placeholder="Küçük" value="Küçük" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" value="200" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>            <button class="btn btn-default btn-sm">
              <i class="icon fa fa-trash-o"></i>
            </button></td>
        </tr>        <tr>
          <td>
            <input type="text" class="form-control" placeholder="Küçük" value="Küçük" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" value="200" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>            <button class="btn btn-default btn-sm">
              <i class="icon fa fa-trash-o"></i>
            </button></td>
        </tr>        <tr>
          <td>
            <input type="text" class="form-control" placeholder="Küçük" value="Küçük" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" value="200" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>            <button class="btn btn-default btn-sm">
              <i class="icon fa fa-trash-o"></i>
            </button></td>
        </tr>        <tr>
          <td>
            <input type="text" class="form-control" placeholder="Küçük" value="Küçük" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" value="200" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>            <button class="btn btn-default btn-sm">
              <i class="icon fa fa-trash-o"></i>
            </button></td>
        </tr>        <tr>
          <td>
            <input type="text" class="form-control" placeholder="Küçük" value="Küçük" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" value="200" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>            <button class="btn btn-default btn-sm">
              <i class="icon fa fa-trash-o"></i>
            </button></td>
        </tr>        <tr>
          <td>
            <input type="text" class="form-control" placeholder="Küçük" value="Küçük" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" value="200" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>            <button class="btn btn-default btn-sm">
              <i class="icon fa fa-trash-o"></i>
            </button></td>
        </tr>

        </tbody>
      </table>

        </div>
      </section>

        <section class="card mb-3"  v-if="tab_page == 'times'">
        <header class="card-header">
          Available Days / Times
          <button type="button" class="modal-close">
            <i class="font-icon-close-2"></i>
          </button>
        </header>
        <div class="card-block">
          <div class="contacts-page-col-left">
              <div class="contacts-page-col-left-in">
days

              </div><!--.contacts-page-col-left-in-->
            </div><!--.contacts-page-col-left-->
            <div class="contacts-page-col-right">

              <form class="contacts-page-section">
                <header class="box-typical-header-sm">day</header>

                <button type="submit" class="btn btn-rounded">select</button>
              </form>
            </div><!--.contacts-page-col-right-->
        </div>
      </section>




        <section class="box-typical" v-box-typical  v-if="tab_page == 'reports'">
        <header class="box-typical-header">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-title">
Addon Groups
            </div>
            <div class="tbl-cell tbl-cell-actions">

              <button type="button" class="btn btn-primary btn-sm">
                <span class="icon fa fa-plus"></span> New Group
              </button>
            </div>
          </div>
        </header>

        <div class="box-typical-body">
      <table id="table-edit" class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>
            Name
          </th>
          <th>Required</th>
          <th>Multiple</th>
          <th>price</th>
          <th>min</th>
          <th>max</th>
          <th>count</th>
          <th width="55">                                             Manage</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>İçecekler</td>
            <td>Gerekli</td>
            <td>evet</td>
            <td>5</td>
            <td>24</td>
            <td>56</td>
            <td>49</td>
            <td>

                                           <div class="btn-group btn-group-sm" style="float: none;">
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <i class="fa fa-ban"></i>
                                            </button>
                                            <button type="button" class="tabledit-delete-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                           </div>



            </td>
          </tr>

          <tr>
            <td>Malzeme</td>
            <td>yes</td>
            <td>no</td>
            <td>yes</td>
            <td>32</td>
                        <td>20</td>
            <td>49</td>
            <td>

                                           <div class="btn-group btn-group-sm" style="float: none;">
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <i class="fa fa-ban"></i>
                                            </button>
                                            <button type="button" class="tabledit-delete-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                           </div>



            </td>
          </tr>

        </tbody>
      </table>
        </div><!--.tab-content-->
      </section><!--.box-typical-->
             <pre>
  {{post | json}}
</pre>
</div><!--.col-9-->
</div><!--.row-->
</div><!--.container-fluid-->
</div><!--.page-content-->

  </template>

  <script>

  module.exports = {
    name: "POST_EDIT",
    props: ['editItem'],
          data() {
        return {
post: 0,
tab_page: 'options'
        };
      },
      computed: {},
      mounted() {
        this.getPost();
      },
      beforeCreate() {

      },
      created() {

      },
          methods: {
            getPost : function(){
              fetch('//core.me/api/posts/' + this.$route.params.post_id).then((res) => {
          return res.json()
        }).then((json) => {
          this.post = json
        })
            },
            addPost : function(){
              fetch('//core.me/api/posts/add' + this.post).then((res) => {
          return res.json()
        }).then((json) => {
          this.post = json
        })
            }
      },
  }
  </script>

  <style scoped>
  .tbl-cell-action-bordered.rb-1{
    border-left: 0 !important;
    border-right: solid 1px #d8e2e7 !important;
  }

  </style>

