<form class="form-horizontal sky-form" id="form-validate" method="post" action="commonSettings.php" onsubmit="return commonSettingsValidation();" enctype="multipart/form-data">
    <input type="hidden" id="site_country" value="DK">
    <!-- Build page from here -->
    <input type="hidden" name="common_setting_action" id="common_setting_action" value="COMMON_SETTING">
    <input type="hidden" name="resid" id="resid" value="1">
    <input type="hidden" name="symbol" id="symbol" value="DKK">
    <input class="tipR" type="hidden" name="restaurant_latitude" id="restaurant_latitude" title="Enter a Latitude" value="55.667913">
    <input class="tipR" type="hidden" name="restaurant_longtitude" id="restaurant_longtitude" title="Enter a Longitude" value="12.387175">
    <ul class="mytabul marg0">
        <li>
            <!--<a id="location">
                <i class="fa-icon-map-marker"></i>
                Settings
              </a>-->
            <ul id="myTab" class="nav nav-tabs pattern">
                <li class="active"><a href="#deliveryInfo" data-toggle="tab">Delivery Settings</a></li>
                <li><a href="#receiveOrderInfo" data-toggle="tab">Receiving Order Settings</a></li>
                <li><a href="#paymentInfo" data-toggle="tab">Payment Settings</a></li>
                <li><a href="#taxInfo" data-toggle="tab">Tax Settings</a></li>
            </ul>
            <div class="tab-paneNew">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="deliveryInfo">
                        <div class="span12 margTop10 offset0">
                            <label class="form-label span4" for="normal">Takeout</label>
                            <span class="formRht span8 input">
                        <label class="checkbox">
                          <input type="checkbox" name="restaurant_takeout" id="restaurant_takeout" value="Y" title="Select for takeout" checked="checked">
                          <i></i>
                          If your restaurant does take-out orders, check this box.
                        </label>

                        <label class="checkbox" id="takeouttip_div" style="display:block;">
                          <input type="checkbox" name="takeout_tips" id="takeout_tips" value="Y" title="Select for takeout tips">
                          <i></i>
                          Tips for Take out
                        </label>

                      </span>
                        </div>
                        <div class="span12 margTop10 offset0 clearfix">
                            <label class="form-label span4" for="normal">Delivery</label>
                            <span class="formRht span8 input">
                        <label class="checkbox">
                          <input type="checkbox" name="restaurant_delivery" id="restaurant_delivery" value="Y" title="Select for delivery" onclick="showdelivery_inputfields();" checked="checked">
                          <i></i>
                          If your restaurant delivers, check this box.
                        </label>

                        <label class="checkbox" id="deliverytip_div" style="display:block;">
                          <input type="checkbox" name="delivery_tips" id="delivery_tips" value="Y" title="Select for delivery tips" onclick="showdelivery_inputfields();">
                          <i></i>
                          Tips for Delivery
                        </label>
                        <span class="selordertype errorline"></span>
                            </span>
                        </div>
                        <div class="contain clearfix" id="delivery_details" style="display:block;">
                            <div class="span12 margTop10 offset0">
                                <label class="form-label span4" for="normal">Delivery Fee</label>
                                <span class="formRht span8 input"><span class="flt">DKK </span>
                                <input class="tipR" type="text" name="restaurant_delivery_fee" id="restaurant_delivery_fee" title="Enter a delivery fee" value="25.00">
                                <label class="menudescIn">Enter a delivery fee</label>
                                <span class="restdelfee errorline"></span>
                                </span>
                            </div>
                            <div class="span12 margTop10 offset0">
                                <label class="form-label span4" for="normal">Delivery charges applicable from</label>
                                <span class="formRht span8 input"><span class="flt">DKK</span>
                                <input class="tipR" type="text" name="restaurant_minimum_delivery_amount" id="restaurant_minimum_delivery_amount" title="Enter Min. Delivery Amount" value="79.00">
                                <label class="menudescIn">Enter Min. Delivery Amount</label>
                                <span class="restminamount errorline"></span>
                                </span>
                            </div>
                            <div class="span12 margTop10 offset0">
                                <label class="form-label span4" for="normal">Free Delivery Amount</label>
                                <span class="formRht span8 input"><span class="flt">DKK</span>
                                <input class="tipR" type="text" name="restaurant_minimum_free_delivery_amount" id="restaurant_minimum_free_delivery_amount" title="Enter Free Delivery Amount" value="500.00">
                                <label class="menudescIn">Enter Free Delivery Amount. This should be greater then Min. delivery amount</label>
                                <span class="restminfreeamount errorline"></span>
                                </span>
                            </div>
                            <div class="span12 margTop10 offset0">
                                <label class="form-label span4" for="normal">Set Delivery Area</label>
                                <span class="formRht span8 input">
                          <div class="inline-group">
                            <label class="radio">
                              <input type="radio" name="set_delivery_address_by" id="set_delivery_address_by_zipcode" value="Z" onclick="setdeliveryarea('zipcode');" checked="checked">
                              <i></i>
                               Zipcode
                            </label>
                            <label class="radio">
                              <input type="radio" name="set_delivery_address_by" id="set_delivery_address_by_gmap" value="GM" onclick="setdeliveryarea('gmap');">
                              <i></i>
                              Google Map
                            </label>
                          </div>
                          <span class="deliveryareaset errorline"></span>
                                </span>
                            </div>
                            <div class="contain clearfix" id="deliveryareabyzipcode" style="display:block;">
                                <div class="span12 margTop10 offset0">
                                    <label class="form-label span4" for="normal">Zip Codes</label>
                                    <span class="formRht span8 input">
                            <input class="tipR" type="text" name="restaurant_delivery_zipcodes" id="restaurant_delivery_zipcodes" title="If you delivery to certain zipcodes, enter them here, separated by commas." value="2600,2605,2620,2625,2630,2660">
                            <label class="menudescIn">If you delivery to certain zipcodes, enter them here, separated by commas.</label>
                            <span class="deliveryzips errorline"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="contain clearfix" id="deliveryareabygmap" style="display:none;">
                                <div class="span12 margTop10 offset0">
                                    <label class="form-label span4" for="normal">Google Map</label>
                                    <span class="formRht span8 input">
                            <span class="textleft flt mapTxt" name="restaurant_delivery_zipcodes" id="restaurant_delivery_zipcodes" title="Please click to draw the service area from map." onclick="openServiceAreaMap();">Service Area Map</span>
                                    <label class="menudescIn">Please click to draw the service area from map.</label>
                                    <span class="deliverybygmaps errorline"></span>
                                    </span>
                                </div>
                                <div class="span12 margTop10 offset0">
                                    <label class="form-label span4" for="normal">Map Zooming</label>
                                    <span class="formRht span8 input">
                            <input class="tipR" type="text" name="restaurant_delivery_mapzoom" id="restaurant_delivery_mapzoom" title="Delivery map zooming in user side" value="11">
                            <label class="menudescIn">Delivery map zooming in user side</label>
                            <span class="reszoomval errorline"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="span12 margTop10 offset0">
                                <label class="form-label span4" for="normal">Min Delivery Time<span class="star">*</span></label>
                                <span class="formRht span8 input">
                          <input class="tipR" type="text" name="restaurant_min_delivery_time" id="restaurant_min_delivery_time" title="min delivery time of delivery order (In minutes.)" value="40">
                          <label class="menudescIn">Min delivery time of delivery order (In minutes.)</label>
                          <span class="restaurant_min_delivery_time errorline"></span>
                                </span>
                            </div>
                            <div class="span12 margTop10 offset0">
                                <label class="form-label span4" for="normal">Extra Delivery Time</label>
                                <span class="formRht span8 input">
                          <input class="tipR" type="text" name="restaurant_extra_delivery_time" id="restaurant_extra_delivery_time" title="For delivery orders, how much extra time should we add to the takeout lead time?" value="0">
                          <label class="menudescIn">For delivery orders, how much extra time should we add to the takeout lead time?</label>
                          <span class="restextratime errorline"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="receiveOrderInfo">
                        <input type="hidden" id="email_set" value="">
                        <h1>E-mail</h1>
                        <div class="span12 margTop10 offset0">
                            <label class="form-label span4 margTop0" for="normal">Enable Email</label>
                            <span class="formRht span8 input">
                        <label class="checkbox">
                          <input type="checkbox" name="enable_email" checked="checked" id="enable_email" value="Y" onclick="return ReceivingOrderSettings('email', 'enable_email');" title="Enable email">
                          <i></i>
                          Enable to send orders via email.
                        </label>
                      </span>
                        </div>
                        <div class="contain clearfix enable-email" style="display:block;">
                            <div class="span12 margTop10 offset0">
                                <label class="form-label span4" for="normal">Email Address</label>
                                <span class="formRht span8 input">
                          <input class="tipR" type="text" name="email_id" id="email_id" value="leonardos.mus@gmail.com" title="Enter a Email ID">
                          <label class="menudescIn">If you want to receive orders via Email, Enter your Email ID above. Leave  blank to disable Email.</label>
                          <span class="emailid errorline"></span>
                                </span>
                            </div>
                        </div>
                        <h1>Fax</h1>
                        <div class="span12 margTop10 offset0">
                            <label class="form-label span4 margTop0" for="normal">Enable Fax</label>
                            <span class="formRht span8 input">
                        <label class="checkbox">
                          <input type="checkbox" name="enable_fax" id="enable_fax" value="Y" onclick="return ReceivingOrderSettings('fax', 'enable_fax');" title="Enable fax">
                          <i></i>
                          Enable to send orders via fax.
                        </label>
                      </span>
                        </div>
                        <div class="contain clearfix enable-fax" style="display:none;">
                            <div class="span12 margTop10 offset0">
                                <label class="form-label span4" for="normal">Fax Number</label>
                                <span class="formRht span8 input">
                          <input class="tipR" type="text" name="fax_no" id="fax_no" value="" title="Enter a Fax Number">
                          <label class="menudescIn">If you want to receive orders via Fax, Enter your Fax number about. Leave  blank to disable Fax.</label>
                          <span class="fax_no errorline"></span>
                                </span>
                            </div>
                        </div>
                        <input type="hidden" id="email_set" value="">
                        <h1>GPRS Printer</h1>
                        <div class="span12 margTop10 offset0">
                            <label class="form-label span4 margTop0" for="normal">Enable GPRS Printer</label>
                            <span class="formRht span8 input">
                        <label class="checkbox">
                          <input type="checkbox" name="enable_gprsPrinter" id="enable_gprsPrinter" value="Y" title="Enable GPRS Printer">
                          <i></i>
                        </label>
                      </span>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="paymentInfo">
                        <h1>Cash on Delivery</h1>
                        <div class="span12 margTop10 offset0">
                            <label class="form-label span4 margTop0" for="normal">Enable Cash on Delivery</label>
                            <span class="formRht span8 input">
                        <label class="checkbox">
                          <input type="checkbox" name="enable_cash_on" id="enable_cash_on" value="Y" checked="checked" title="" onclick="return paymentSetting('cash_on','enable_cash_on');">
                          <i></i>
                          Select this box to accept payment from customers when they receive their order.
                        </label>
                      </span>
                        </div>
                        <div class="contain clearfix enable-cash_on" id="maxorderamtdiv" style="display:block">
                            <div class="span12 margTop10 offset0">
                                <label class="form-label span4" for="normal">Maximum Order Total</label>
                                <span class="formRht span8 input"><span class="flt">DKK</span>
                                <input class="tipR" type="text" name="cash_max_amt" id="cash_max_amt" title="" value="7000.00">
                                <label class="menudescIn">Enter the maximum amount allowed for a pay-in-person order. Orders above this amount will be required to use a credit card.</label>
                                <span class="cash_max_amt errorline"></span>
                                </span>
                            </div>
                        </div>
                        <h1>Paypal Email</h1>
                        <div class="span12 margTop10 offset0">
                            <label class="form-label span4 margTop0" for="normal">Enable Paypal Email</label>
                            <span class="formRht span8 input">
                        <label class="checkbox">
                          <input type="checkbox" name="enable_paypal_paymentMethod" id="enable_paypal_paymentMethod" value="Y" title="" onclick="return paymentSetting('paypal_email','enable_paypal_paymentMethod');">
                          <i></i>
                          Select this box to enable paypal email.
                        </label>
                      </span>
                        </div>
                        <div class="enable-paypal_email" style="display:none;">
                            <div class="span12 margTop10 offset0">
                                <label class="form-label span4" for="normal">Paypal Mode</label>
                                <span class="formRht span8 input">
                            <div class="inline-group">
                              <label class="radio">
                                <input type="radio" name="order_mode" id="mode_live" value="Live" checked="checked" onclick="return paypalMode('liveUrl');">
                                <i></i>
                                 Live
                              </label>
                              <label class="radio">
                                <input type="radio" name="order_mode" id="mode_test" value="Test" onclick="return paypalMode('testUrl');">
                                <i></i>
                                Test
                              </label>
                            </div>
                            <span class="mode_live errorline"></span>
                                </span>
                            </div>
                            <div class="contain clearfix" id="liveUrl" style="display:block">
                                <div class="span12 margTop10 offset0">
                                    <label class="form-label span4" for="normal">Paypal Url</label>
                                    <span class="formRht span8 input">
                              <input class="tipR" type="text" name="paypal_liveUrl" id="paypal_liveUrl" title="paypal" value="www.paypal.com">
                              <label class="menudescIn">Enter the maximum amount allowed for a pay-in-person order. Orders above this amount will be required to use a credit card.</label>
                              <span class="paypal_email errorline"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="contain clearfix" id="testUrl" style="display:none">
                                <div class="span12 margTop10 offset0">
                                    <label class="form-label span4" for="normal">Paypal Url</label>
                                    <span class="formRht span8 input">
                              <input class="tipR" type="text" name="paypal_testUrl" id="paypal_testUrl" title="paypal" value="www.sandbox.paypal.com">
                              <span class="paypal_email errorline"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="span12 margTop10 offset0">
                                <label class="form-label span4" for="normal">Business Account</label>
                                <span class="formRht span8 input">
                            <input class="tipR" type="text" name="paypal_email" id="paypal_email" title="paypal" value="jprobusiness@gmail.com">
                            <span class="paypal_email errorline"></span>
                                </span>
                            </div>
                        </div>
                        <h1>Stripe Payment</h1>
                        <div class="span12 margTop10 offset0">
                            <label class="form-label span4 margTop0" for="normal">Enable Stripe</label>
                            <span class="formRht span8 input">
                        <label class="checkbox">
                          <input type="checkbox" name="enable_stripe" id="enable_stripe" value="Y" checked="checked" title="" onclick="return paymentSetting('stripe','enable_stripe');">
                          <i></i>
                          Select this box to enable Stripe.
                        </label>
                      </span>
                        </div>
                        <div class="enable-stripe" style="display:block;">
                            <div class="span12 margTop10 offset0">
                                <label class="form-label span4" for="normal">Stripe Mode</label>
                                <span class="formRht span8 input">
                                <div class="inline-group">
                                  <label class="radio">
                                    <input type="radio" name="stripe_payment_mode" id="stripe_payment_mode" value="Live" checked="checked" onclick="stripe_payment('live_publisher_id');">
                                    <i></i>
                                     Live
                                  </label>
                                  <label class="radio">
                                    <input type="radio" name="stripe_payment_mode" id="stripe_payment_mode" value="Test" onclick="stripe_payment('test_publisher_id');">
                                    <i></i>
                                    Test
                                  </label>
                                </div>
                                <span class="stripe_payment_mode_live errorline"></span>
                                </span>
                            </div>
                            <div class="contain margTop10" style="display:block;" id="live_publisher_id">
                                <div class="span12 margTop10 offset0">
                                    <label class="form-label span4" for="normal">Publisher Id</label>
                                    <span class="formRht span8 input">
                                  <input class="tipR" type="text" name="stripe_live_publisher_id" id="stripe_live_publisher_id" title="stripe" value="sk_live_ra9nCIXwxSjSQRxe8fWCCwhX">
                                  <span class="stripe_live_publisher_id errorline"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="contain margTop10" style="display:none;" id="test_publisher_id">
                                <div class="span12 margTop10 offset0">
                                    <label class="form-label span4" for="normal">Publisher Id</label>
                                    <span class="formRht span8 input">
                                  <input class="tipR" type="text" name="stripe_test_publisher_id" id="stripe_test_publisher_id" title="stripe" value="sk_test_6W5wzmIFF7GCnOyxi11y3T97">
                                  <span class="stripe_live_publisher_id errorline"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="taxInfo">
                        <div class="span12 margTop10 offset0">
                            <label class="form-label span4" for="normal">Sales Tax<span class="star">*</span></label>
                            <span class="formRht span8 input"><span class="flt">DKK</span>
                            <input class="tipR" type="text" name="restaurant_sales_tax" id="restaurant_sales_tax" title="The sales tax to charge for each order." value="0.00">
                            <label class="menudescIn">The sales tax to charge for each order.</label>
                            <span class="resttax errorline"></span>
                            <span class="restvalidtax errorline"></span>
                            </span>
                        </div>
                        <div class="txt_div" style="display:none;" id="taxheadingadd" onclick="closeme(this.id);"><img src="images/add.png" class="add"></div>
                        <div id="text_boxes_tax">
                            <div class="row-fluid margBot10">
                                <span class="span3"><span class="bold">Tax Type</span></span>
                                <span class="span3"><span class="bold">Tax Name</span></span>
                                <span class="span3"><span class="bold">Tax Rate</span></span>
                            </div>
                            <input type="hidden" id="restaurant_taxcount" value="1">
                            <div class="row-fluid margBot10" id="txt_0">
                                <div class="span3 inline-group">
                                    <label class="radio">
                                        <input id="normalInput" type="radio" name="restaurant_tax_type[0]" value="price">
                                        <i></i> DKK
                                    </label>
                                    <label class="radio">
                                        <input id="normalInput" type="radio" name="restaurant_tax_type[0]" value="percentage">
                                        <i></i> %
                                    </label>
                                </div>
                                <label class="input span3">
                                    <input type="text" id="normalInput" name="restaurant_tax_name[0]" value="">
                                </label>
                                <label class="input span3">
                                    <input type="text" id="normalInput" name="restaurant_tax_rate[0]" value="">
                                </label>
                                <div class="txtRight span3">
                                    <span class="btn margRht5">
                                                                <i class="halflings-icon plus add"></i>
                                                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contain margBot20">
                    <label class="form-label span4 empty" for="normal">&nbsp;</label>
                    <span class="formRht span8 input">
                    <button class="button flt" type="submit" onsubmit="return commonSettingsValidation();">Submit</button>
                  </span>
                </div>
            </div>
        </li>
    </ul>
</form>
