<template>
<div class="content-wrapper">
    <div class="row">
      <div class="col-xs-3">
        <!-- Navigation -->
        <div class="panel panel-flat">
          <div class="panel-heading">
            <h6 class="panel-title">Profil Yönetimi</h6>
            <div class="heading-elements">
              <a href="#" class="heading-text">..</a>
            </div>
          </div>
          <div class="list-group no-border no-padding-top">
            <router-link to="/account/dashboard" class="list-group-item">
              <i class="icon-user"></i> Genel Bakış</router-link>
            <router-link to="/account/coupons" class="list-group-item">
              <i class="icon-user"></i> Kuponlar</router-link>
            <router-link to="/account/update" class="list-group-item">
              <i class="icon-user"></i> Üyelik Bilgileri</router-link>
            <router-link to="/account/documents" class="list-group-item">
              <i class="icon-user"></i> Belge Ekle</router-link>
            <router-link to="/account/tickets" class="list-group-item">
              <i class="icon-users"></i> Mesajlar</router-link>
            <router-link to="/account/bonus" class="list-group-item">
              <i class="icon-users"></i> Bonuslar</router-link>
            <router-link to="/account/logs" class="list-group-item">
              <i class="icon-users"></i> Geçmişim</router-link>
            <div class="list-group-divider"></div>
            <router-link to="/account" class="list-group-item">
              <i class="icon-user"></i> Yardım</router-link>
          </div>
        </div>
        <!-- /navigation -->

      </div>
      <div class="col-xs-9">

        <div class="row">
          <div class="col-lg-6">

  <!-- Profile info -->
                  <div class="panel panel-flat">
                    <div class="panel-heading">
                      <h6 class="panel-title">Profile information</h6>
                      <div class="heading-elements">
                        <ul class="icons-list">
                                  <li><a data-action="collapse"></a></li>
                                  <li><a data-action="reload"></a></li>
                                  <li><a data-action="close"></a></li>
                                </ul>
                              </div>
                    </div>

                    <div class="panel-body">
                      <form action="#">
                        <div class="form-group">
                          <div class="row">
                            <div class="col-md-6">
                              <label>Ad</label>
                              <input type="text" value="Gokhan" class="form-control">
                            </div>
                            <div class="col-md-6">
                              <label>Soyad</label>
                              <input type="text" value="Celik" class="form-control">
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <div class="col-md-6">
                              <label>Ülke</label>
                              <input type="text" value="Türkiye" class="form-control">
                            </div>
                            <div class="col-md-6">
                              <label>Şehir</label>
                              <input type="text" value="Mersin" class="form-control">
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <div class="col-md-4">
                  <label>Default select</label>
                  <select v-selectpicker class="bootstrap-select" v-model="datam.select" data-width="100%">
                    <option value="AK">Alaska</option>
                    <option value="HI">Hawaii</option>
                    <option value="CA">California</option>
                    <option value="NV">Nevada</option>
                    <option value="OR">Oregon</option>
                  </select>
                <!-- /default select -->
                            </div>
                            <div class="col-md-4">
                              <label>State/Province</label>
                              <input type="text" value="Bayern" class="form-control">
                            </div>
                            <div class="col-md-4">
                              <label>ZIP code</label>
                              <input type="text" value="1031" class="form-control">
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <div class="col-md-6">
                              <label>Para Birimi</label>
                              <input type="text" readonly="readonly" value="TRY" class="form-control">
                            </div>
                                        <div class="col-md-6">
                              <label>Phone #</label>
                              <input type="text" value="+99-99-9999-9999" class="form-control">
                              <span class="help-block">+99-99-9999-9999</span>
                                        </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <div class="col-md-6">
                              <label>Para Birimi</label>
                              <input type="text" readonly="readonly" value="TRY" class="form-control">
                            </div>
                                        <div class="col-md-6">
                  <label>date picker: </label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                    <input type="text"  ref="datepicker" v-model="datam.date" class="form-control daterange-single">
                  </div>
                  <a @click="tiklabana()">
tikla date {{this.datam}}
                  </a>
                                        </div>
                          </div>
                        </div>

                <div class="form-group">
                  <label class="display-block text-semibold">Lef inline styled</label>
                  <label class="checkbox-inline">
                    <input type="checkbox" class="styled" value="John" v-model="datam.checked">
                    Checked styled
                  </label>

                  <label class="checkbox-inline">
                    <input type="checkbox" class="styled"  value="John2" v-model="datam.checked">
                    Unchecked styled
                  </label>
                </div>
                                <div class="form-group">
                  <label class="display-block text-semibold">Left inline styled</label>
                <div class="radio">
                      <label>
                        <input type="radio" name="stacked-radio-left" value="one" class="styled" v-model="datam.radio">
                        Selected styled
                      </label>
                    </div>                <div class="radio">
                      <label>
                        <input type="radio" name="stacked-radio-left" value="two" class="styled" v-model="datam.radio">
                        Selected styled
                      </label>
                    </div>
                </div>

                                    <div class="text-right">
                                      <button type="submit" class="btn btn-primary">Save <i class="icon-arrow-right14 position-right"></i></button>
                                    </div>
                      </form>
                    </div>
                  </div>
                  <!-- /profile info -->

          </div>

          <div class="col-lg-6">

            <!-- Blog layout #1 with video -->
            <div class="panel panel-flat blog-horizontal blog-horizontal-1">
              <div class="panel-heading">
                <h5 class="panel-title text-semibold">
                  <a href="#">Blog layout #1 with video</a>
                </h5>
              </div>

              <div class="panel-body">
                <div class="thumb">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" allowfullscreen="" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/164841921?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen=""></iframe>
                  </div>
                </div>

                <div class="blog-preview">
                  <p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>

                  Gregor then turned to look out the window. Drops of rain could be heard hitting the pane. "How about if I sleep a little bit longer and forget all this nonsense" <a href="#">[...]</a>
                </div>
              </div>

              <div class="panel-footer panel-footer-transparent"><a class="heading-elements-toggle"><i class="icon-more"></i></a>
                <div class="heading-elements">
                  <ul class="list-inline list-inline-separate heading-text text-muted">
                    <li>By <a href="#" class="text-muted">Eugene</a></li>
                    <li>July 5th, 2016</li>
                    <li><a href="#" class="text-muted">12 comments</a></li>
                    <li><a href="#" class="text-muted"><i class="icon-heart6 text-size-base text-pink position-left"></i> 281</a></li>
                  </ul>

                  <a href="#" class="heading-text pull-right">Read more <i class="icon-arrow-right14 position-right"></i></a>
                </div>
              </div>
            </div>
            <!-- /blog layout #1 with video -->

          </div>
        </div>
        <!-- /layout 1 -->




      </div>

    </div>


      </div>

</template>

<script>
module.exports = {
  name: "user",
    data(){
    return {
      startDate: '03/20/2017',

datam : {
  date : '03/18/2017',
select: '',
checked: [],
radio: 'one'
}
    }
  },
  props: ['userId', 'userData'],
  methods: {}
}
</script>

<style>
.hello {
    background-color: #ffe;
}
</style>

