<template>
  <div>
  <ul class="main-nav nav nav-inline">
    <li class="nav-item">
      <router-link class="nav-link" :to="'/dashboard'">Dashboard</router-link>
    </li>
        <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Posts </a>
      <div class="dropdown-menu">
        <router-link class="dropdown-item" :to="'/dashboard/posts'">All</router-link>
        <router-link class="dropdown-item" :to="'/dashboard/posts/new'">New Ad</router-link>
      </div>
    </li>
    <li class="nav-item">
      <router-link class="nav-link" :to="'/dashboard/categories'">Categories</router-link>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="font-icon font-icon-pencil" style="margin-right:7px;"></i>
      Forms </a>
      <div class="dropdown-menu">
        <router-link class="dropdown-item" :to="'/dashboard/forms'">Groups</router-link>
        <router-link class="dropdown-item" :to="'/dashboard/forms'">Fields</router-link>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
      <div class="dropdown-menu">
        <router-link class="dropdown-item" :to="'/dashboard/forms'">Site</router-link>
        <router-link class="dropdown-item" :to="'/dashboard/forms'">User</router-link>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Users</a>
      <div class="dropdown-menu">
        <router-link class="dropdown-item" :to="'/dashboard/forms'">Business</router-link>
        <router-link class="dropdown-item" :to="'/dashboard/forms'">User</router-link>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Contents</a>
      <div class="dropdown-menu">
        <router-link class="dropdown-item" :to="'/dashboard/forms'">Pages</router-link>
        <router-link class="dropdown-item" :to="'/dashboard/forms'">Sliders</router-link>
        <router-link class="dropdown-item" :to="'/dashboard/forms'">Ads</router-link>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/back/media">Media</a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Settings</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/back/language">Language</a>
        <a class="dropdown-item" href="/back/tools">Tools</a>
        <a class="dropdown-item" href="/back/newsletter">Newsletter</a>
        <a class="dropdown-item" href="/back/social">Social Media</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/back/book">Book</a>
      </div>
    </li>

  </ul>
  </div>
</template>

<script>
module.exports =  {
  name: 'Header',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
