<template>
<div>

    <section class="box-typical">
        <header class="box-typical-header">
          <div class="tbl-row">
                        <div class="tbl-cell tbl-cell-action-bordered rb-1">
              <button type="button" class="action-btn">
                <span class="icon fa fa-long-arrow-left"></span>
            </button>
            </div>
            <div class="tbl-cell">
<ul class="nav nav-pills">
                <li class="nav-item">
                  <a :class="{ active: tab_page == 'options' }" class="nav-link" @click="tab_page = 'options'">Settings</a>
                </li>
                <li class="nav-item ">
                  <a :class="{ active: tab_page == 'prices' }" class="nav-link" @click="tab_page = 'prices'">Forms</a>
                </li>

                <li class="nav-item">
                  <a :class="{ active: tab_page == 'addons' }" class="nav-link" @click="tab_page = 'addons'">Reports</a>
                </li>

                <li class="nav-item">
                  <a :class="{ active: tab_page == 'images' }" class="nav-link"  @click="tab_page = 'images'">Gallery</a>
                </li>
                <li class="nav-item">
                  <a :class="{ active: tab_page == 'times' }" class="nav-link"  @click="tab_page = 'times'">Permissions</a>
                </li>
              </ul>

            </div>


            <div class="tbl-cell tbl-cell-action-bordered">
              <button type="button" class="action-btn">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
            </div>
            <div class="tbl-cell tbl-cell-action-bordered">
              <button type="button" class="action-btn">
                <span class="icon fa fa-ban"></span>
            </button>
            </div>
            <div class="tbl-cell tbl-cell-action-bordered">
              <button type="button" class="action-btn">
                <span class="icon fa fa-check"></span>
            </button>
            </div>
          </div>
        </header>
      </section>


      <section class="card mb-3" v-if="tab_page == 'options'">
        <header class="card-header">
          Options
          <button type="button" class="modal-close">
            <i class="font-icon-close-2"></i>
          </button>
        </header>
        <div class="card-block">
          <div class="row">
            <div class="col-md-8">
                              <div style="">
 <div class="form-group">
                  <input type="text" v-model="item.name" class="form-control" placeholder="Title"/>
                </div>
                <div class="form-group">
                  <textarea rows="4" v-model="item.description" class="form-control" placeholder="Body"></textarea>
                </div>
                </div>

                <pre class="hide">

{{getCategory | json}}
                </pre>

            </div>
            <div class="col-md-4">
              <div class="text-center">
<img src="assets/img/pizza.jpg" class="img-fluid rounded img-thumbnail" alt="" title="" style="">
</div>

            </div>
          </div>

        </div>
      </section>

      <section class="card mb-3"  v-if="tab_page == 'images'">
        <header class="card-header">
          Images
          <button type="button" class="modal-close">
            <i class="font-icon-close-2"></i>
          </button>
        </header>
        <div class="card-block">
          <div class="contacts-page-col-left">
              <div class="contacts-page-col-left-in">
resimler

              </div><!--.contacts-page-col-left-in-->
            </div><!--.contacts-page-col-left-->
            <div class="contacts-page-col-right">

              <form class="contacts-page-section">
                <header class="box-typical-header-sm">Select</header>

                <button type="submit" class="btn btn-rounded">Upload</button>
              </form>
            </div><!--.contacts-page-col-right-->
        </div>
      </section>

      <section class="card mb-3"  v-if="tab_page == 'prices2'">
        <header class="card-header">
          Prices
          <button type="button" class="modal-close">
            <i class="font-icon-close-2"></i>
          </button>
        </header>
        <div class="card-block">
                              <table id="table-xs" class="table table-bordered table-hover table-xs">

         <thead>
        <tr>
          <th><input type="text" class="form-control" placeholder="name"/></th>
          <th>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>
            </th>
          <th class="table-icon-cell">
                        <button class="btn btn-primary btn-sm">
              <i class="icon fa fa-plus"></i>
            </button>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <input type="text" class="form-control" placeholder="Küçük" value="Küçük" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" value="200" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>            <button class="btn btn-default btn-sm">
              <i class="icon fa fa-trash-o"></i>
            </button></td>
        </tr>        <tr>
          <td>
            <input type="text" class="form-control" placeholder="Küçük" value="Küçük" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" value="200" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>            <button class="btn btn-default btn-sm">
              <i class="icon fa fa-trash-o"></i>
            </button></td>
        </tr>        <tr>
          <td>
            <input type="text" class="form-control" placeholder="Küçük" value="Küçük" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" value="200" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>            <button class="btn btn-default btn-sm">
              <i class="icon fa fa-trash-o"></i>
            </button></td>
        </tr>        <tr>
          <td>
            <input type="text" class="form-control" placeholder="Küçük" value="Küçük" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" value="200" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>            <button class="btn btn-default btn-sm">
              <i class="icon fa fa-trash-o"></i>
            </button></td>
        </tr>        <tr>
          <td>
            <input type="text" class="form-control" placeholder="Küçük" value="Küçük" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" value="200" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>            <button class="btn btn-default btn-sm">
              <i class="icon fa fa-trash-o"></i>
            </button></td>
        </tr>        <tr>
          <td>
            <input type="text" class="form-control" placeholder="Küçük" value="Küçük" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" value="200" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>            <button class="btn btn-default btn-sm">
              <i class="icon fa fa-trash-o"></i>
            </button></td>
        </tr>

        </tbody>
      </table>

        </div>
      </section>

        <section class="card mb-3"  v-if="tab_page == 'times'">
        <header class="card-header">
          Available Days / Times
          <button type="button" class="modal-close">
            <i class="font-icon-close-2"></i>
          </button>
        </header>
        <div class="card-block">
          <div class="contacts-page-col-left">
              <div class="contacts-page-col-left-in">
days

              </div><!--.contacts-page-col-left-in-->
            </div><!--.contacts-page-col-left-->
            <div class="contacts-page-col-right">

              <form class="contacts-page-section">
                <header class="box-typical-header-sm">day</header>

                <button type="submit" class="btn btn-rounded">select</button>
              </form>
            </div><!--.contacts-page-col-right-->
        </div>
      </section>

        <section class="box-typical" v-box-typical  v-if="tab_page == 'options'">
        <header class="box-typical-header">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-title">
Prices
            </div>
            <div class="tbl-cell tbl-cell-actions">

              <button type="button" class="btn btn-primary btn-sm">
                <span class="icon fa fa-plus"></span> New Price
              </button>
            </div>
          </div>
        </header>

        <div class="box-typical-body">
      <table id="table-edit" class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>
            Price Name
          </th>
          <th>Price</th>
          <th width="55">Manage</th>
        </tr>
        </thead>
        <tbody>
<tr>
          <td>
            <input type="text" class="form-control" placeholder="Küçük" value="Küçük" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" value="200" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>
                                           <div class="btn-group btn-group-sm" style="float: none;">
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <i class="fa fa-ban"></i>
                                            </button>
                                            <button type="button" class="tabledit-delete-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                           </div>
            </td>
        </tr>
        <tr>
          <td>
            <input type="text" class="form-control" placeholder="Küçük" value="Küçük" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" value="200" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>
                                           <div class="btn-group btn-group-sm" style="float: none;">
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <i class="fa fa-ban"></i>
                                            </button>
                                            <button type="button" class="tabledit-delete-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                           </div>
            </td>
        </tr>
        </tbody>
      </table>
        </div><!--.tab-content-->
      </section><!--.box-typical-->


        <section class="box-typical" v-box-typical  v-if="tab_page == 'addons'">
        <header class="box-typical-header">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-title">
Addon Groups
            </div>
            <div class="tbl-cell tbl-cell-actions">

              <button type="button" class="btn btn-primary btn-sm">
                <span class="icon fa fa-plus"></span> New Group
              </button>
            </div>
          </div>
        </header>

        <div class="box-typical-body">
      <table id="table-edit" class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>
            Name
          </th>
          <th>Required</th>
          <th>Multiple</th>
          <th>price</th>
          <th>min</th>
          <th>max</th>
          <th>count</th>
          <th width="55">                                             Manage</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>İçecekler</td>
            <td>Gerekli</td>
            <td>evet</td>
            <td>5</td>
            <td>24</td>
            <td>56</td>
            <td>49</td>
            <td>

                                           <div class="btn-group btn-group-sm" style="float: none;">
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <i class="fa fa-ban"></i>
                                            </button>
                                            <button type="button" class="tabledit-delete-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                           </div>



            </td>
          </tr>

          <tr>
            <td>Malzeme</td>
            <td>yes</td>
            <td>no</td>
            <td>yes</td>
            <td>32</td>
                        <td>20</td>
            <td>49</td>
            <td>

                                           <div class="btn-group btn-group-sm" style="float: none;">
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <i class="fa fa-ban"></i>
                                            </button>
                                            <button type="button" class="tabledit-delete-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                           </div>



            </td>
          </tr>

        </tbody>
      </table>
        </div><!--.tab-content-->
      </section><!--.box-typical-->



                        <section class="tabs-section hide">
                <div class="tabs-section-nav tabs-section-nav-inline">
                    <ul class="nav" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tabs-4-tab-1" role="tab" data-toggle="tab">
                                Information
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tabs-4-tab-2" role="tab" data-toggle="tab">
                                Addons
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tabs-4-tab-3" role="tab" data-toggle="tab">
                                Available Days / Times
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tabs-4-tab-4" role="tab" data-toggle="tab">
                                Images
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tabs-4-tab-5" role="tab" data-toggle="tab">
                                Prices
                            </a>
                        </li>
                    </ul>
                </div><!--.tabs-section-nav-->

                <div class="tab-content no-styled">
<div role="tabpanel" class="tab-pane fade in active show" id="tabs-4-tab-1">
  Tab 1
  <pre>
{{item | json}}
  </pre>
</div>
<!--.tab-pane-->
<div role="tabpanel" class="tab-pane fade" id="tabs-4-tab-2">
        <div class="row">
          <div class="col-lg-3">
            <div class="form-group">
              <label class="form-label semibold">x1:</label>
              <div class="form-control-wrapper form-control-icon-left">
                <input type="text" class="form-control" placeholder="Left"/>
                <i class="fa fa-youtube-play"></i>
              </div>
            </div>
          </div>
                    <div class="col-lg-5">
            <div class="form-group">
               <label class="form-label semibold">x1:</label>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn active">
                    <input type="checkbox" checked autocomplete="off"> Required
                  </label>
                  <label class="btn">
                    <input type="checkbox" autocomplete="off"> Price by Size
                  </label>
                  <label class="btn">
                    <input type="checkbox" autocomplete="off"> Multiple
                  </label>
                </div>


            </div>
          </div>
          <div class="col-lg-2">
            <div class="form-group">
              <label class="form-label semibold">x3:</label>
              <div class="form-control-wrapper form-control-icon-left">
                <input type="text" class="form-control" placeholder="Left"/>
                <i class="font-icon font-icon-comments color-blue"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="form-group">
              <label class="form-label semibold">x5:</label>
              <div class="form-control-wrapper form-control-icon-left">
                <input type="text" class="form-control" placeholder="Left"/>
                <i class="font-icon font-icon-check-bird color-green"></i>
              </div>
            </div>
          </div>
        </div><!--.row-->
</div>
<div role="tabpanel" class="tab-pane fade" id="tabs-4-tab-3">
3
</div>
<div role="tabpanel" class="tab-pane fade" id="tabs-4-tab-4">
4
</div>
<div role="tabpanel" class="tab-pane fade" id="tabs-4-tab-5">

</div>

                </div><!--.tab-content-->
            </section><!--.tabs-section-->
</div><!--.page-content-->

  </template>

  <script>

  module.exports = {
    name: "menu-item",
    props: ['editItem'],
          data() {
        return {
item: 0,
tab_page: 'options'
        };
      },
          computed: {
           getCategory : function(){
              this.item = this.editItem;
              return this.editItem;
            },
          },
      mounted() {
        this.item = this.editItem
      },
      beforeCreate() {

      },
      created() {

      },
          methods: {
      },
  }
  </script>

  <style scoped>
  .tbl-cell-action-bordered.rb-1{
    border-left: 0 !important;
    border-right: solid 1px #d8e2e7 !important;
  }

  </style>

