<template>
  <div class="page-content">
    <div class="container-fluid messenger">
      <div class="row">
        <div class="col-md-4">
          <section class="box-typical">
            <header class="box-typical-header">
              <div class="tbl-row">
                <div class="tbl-cell">
                  {{current_category.name || 'Categories'}}
                </div>
  
                <div class="tbl-cell tbl-cell-action-bordered" v-if="current_category">
                  <button type="button" class="action-btn" @click="getMenuSelect(current_category, 1)">
    <span class="fa fa-long-arrow-left"></span>
    </button>
                </div>
  
                <div class="tbl-cell tbl-cell-action-bordered">
                  <button type="button" class="action-btn">
    <span class="icon fa fa-plus"></span>
    </button>
                </div>
  
              </div>
            </header>
            <div class="box-typical-body">
              <div class="table-responsive">
                <table id="table-xs" class="table table-bordered table-hover table-xs">
  
                  <tbody v-sortable>
  
                    <tr v-for="menu in categories" :key="menu.term_id">
                      <td class="unselectable" draggable="false" dragstart="false" style="">{{menu.name}}</td>
  
                      <td width="54" class="hide">
                        <button type="button" class="btn btn-inline btn-info btn-sm">
    <i class="font-icon font-icon-pencil"></i>
    </button>
  
                      </td>
                      <td width="54" class="hide">
                        <button type="button" class="btn btn-inline btn-danger btn-sm">
    <i class="fa fa-ban"></i>
    </button>
                      </td>
                      <td width="54">
                        <button @click="editMenuItem(menu)" type="button" class="btn btn-inline btn-info btn-sm">
    <i class="font-icon font-icon-pencil"></i>
    </button>
                      </td>
                      <td width="54">
                        <button @click="getMenuSelect(menu)" type="button" class="btn btn-inline btn-default-outline btn-sm">
    <i class="fa fa-long-arrow-right"></i>
    </button>
  
                      </td>
  
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
        </div>
  
  
        <div class="col-md-8">
  
          <section class="box-typical" v-if="!edit_item">
  
            <header class="box-typical-header">
              <div class="tbl-row">
                <div class="tbl-cell">
                  {{getMenuFilter.length}} Item / Menu Id: {{select_menu_id | 0}}
                </div>
  
  
                <div class="tbl-cell tbl-cell-action-bordered">
                  <button type="button" class="action-btn"><span class="icon fa fa-plus"></span></button>
                </div>
              </div>
            </header>
            <div class="box-typical-body">
  
              <div class="table-responsive">
                <table id="table-xs" class="table table-bordered table-hover table-xs">
  
                  <tbody class="" v-sortable>
  
                    <tr v-for="(item, index) in getMenuFilter" :key="index">
                      <td width="1" class="">
                        <i class="fa fa-arrows"></i>
  
                        <button type="button" class="btn btn-inline btn-default-outline btn-sm hide">
    <i class="glyphicon glyphicon-move"></i>
    </button>
                      </td>
                      <td>{{item.menu_item_name}}</td>
                      <td width="54">
                        <div class="btn-group">
                          <button type="button" class="btn btn-inline dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="font-icon font-icon-cogwheel"></span>
    </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" @click="editMenuItem(item)">Edit</a>
                            <a class="dropdown-item" href="#">Close</a>
                            <a class="dropdown-item" href="#">Delete</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">List</a>
                          </div>
                        </div>
                      </td>
                      <td width="54">
  
                        <button @click="editMenuItem(item)" type="button" class="btn btn-inline btn-info btn-sm">
    <i class="font-icon font-icon-pencil"></i>
    </button>
                      </td>
                      <td width="54" class="hide">
                        <button type="button" class="btn btn-inline btn-danger btn-sm">
    <i class="fa fa-ban"></i>
    </button>
                      </td>
  
                      <td width="54" class="hide">
                        <button type="button" class="btn btn-inline btn-default btn-sm">
    <i class="glyphicon glyphicon-trash"></i>
    </button>
                      </td>
  
  
                    </tr>
                  </tbody>
                </table>
              </div>
  
            </div>
          </section>
          <edit-menu-item v-if="edit_item" :edit-item="edit_item">
            <edit-menu-item>
        </div>
  
      </div>
  
  
    </div>
    <!--.container-fluid-->
  </div>
  <!--.page-content-->
</template>

<script>
  var EditMenuItem = httpVueLoader('vue/menu/edit-menu-item.vue');
  module.exports = {
    name: "home",
    components: {
      EditMenuItem
    },
    data() {
      return {
        defaultData: "merhaba",
        time: 0,
        categories: [],
        current_category: 0,
        menu_items: [],
        select_menu_id: 0,
        edit_item: 0,
        drag_id: 0
      };
    },
    computed: {
      canli: function() {
        let dene = 0;
        return dene;
      },
      getMenuFilter: function() {
        if (this.select_menu_id) {
          return this.menu_items.filter((item) => {
            if (item.category_id == this.select_menu_id) {
  
              console.log(item.category_id, this.select_menu_id)
            }
            return item.category_id == Number(this.select_menu_id)
          })
        } else {
          return []
        }
      }
    },
    mounted() {
      setTimeout(() => {
  
      }, 1500)
  
    },
    beforeCreate() {
  
    },
    created() {
      this.getMenuCategories();
      //this.getMenuItems();
    },
    methods: {
      editMenuItem: function(item) {
        this.edit_item = item
      },
      onDrop: function(e, index) {},
      getMenuSelect: function(menu, parent) {
        let term_id = parent ? menu.parent : menu.term_id
        this.current_category = parent ? 0 : menu;
        fetch('//core.me/api/childs/' + term_id).then((res) => {
          return res.json()
        }).then((json) => {
  
          if (json.length) {
            this.categories = json
          }
        })
      },
      getMenuCategories: function() {
        fetch('//core.me/api/categories').then((res) => {
          return res.json()
        }).then((json) => {
          this.categories = json
        })
      },
      getMenuItems: function() {
        fetch('//core.me/api/childs').then((res) => {
          return res.json()
        }).then((json) => {
          this.menu_items = json
        })
      }
    },
  }
</script>

<style>
  .table-responsive {
    margin: -1px !important;
  }
  
  table td .btn.btn-inline {
    margin: 0 !important;
  }
  
  .sortable-placeholder {
    position: relative;
    display: block;
    width: 90px !important;
    height: 90px !important;
    text-align: center;
    line-height: 40px !important;
    border: dashed 2px #adb7be;
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
    margin: 0 0 30px
  }
  
  .sortable-placeholder:before {
    content: 'Move';
    font-size: .875rem;
    font-weight: 600;
    color: #919fa9
  }
  
  table .dropdown-menu a {
    border-bottom: 0 !important;
  }
  
  .unselectable {
    pointer-events: none !important;
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-drag: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
  }
</style>

