<template>
  <div class="page-content">
    <header class="page-content-header widgets-header">
      <div class="container-fluid">
        <div class="tbl tbl-outer">
          <div class="tbl-row">
            <div class="tbl-cell">
              <div class="tbl tbl-item">
                <div class="tbl-row">
                  <div class="tbl-cell">
                    <div class="title">Teslim Edildi</div>
                    <div class="amount color-blue">76</div>
                  </div>
                  <div class="tbl-cell tbl-cell-progress">
                    <div class="circle-progress-bar-typical size-56 pieProgress pie_progress" role="progressbar" data-goal="79" data-barcolor="#00a8ff" data-barsize="10" aria-valuemin="0" aria-valuemax="100" aria-valuenow="79">
                      <span class="pie_progress__number">79%</span>
                    <div class="pie_progress__svg"><svg version="1.1" preserveAspectRatio="xMinYMin meet" viewBox="0 0 160 160"><ellipse rx="75" ry="75" cx="80" cy="80" stroke="#f2f2f2" fill="none" stroke-width="10"></ellipse><path fill="none" stroke-width="10" stroke="#00a8ff" d="M80,5 A75,75 0 1 1 7.356262915352673,61.34825846263588" style="stroke-dasharray: 372.292, 372.292; stroke-dashoffset: 0;"></path></svg></div></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tbl-cell">
              <div class="tbl tbl-item">
                <div class="tbl-row">
                  <div class="tbl-cell">
                    <div class="title">Onaylandı</div>
                    <div class="amount">980</div>
                  </div>
                  <div class="tbl-cell tbl-cell-progress">
                    <div class="circle-progress-bar-typical size-56 pieProgress pie_progress" role="progressbar" data-goal="75" data-barcolor="#929faa" data-barsize="10" aria-valuemin="0" aria-valuemax="100" aria-valuenow="75">
                      <span class="pie_progress__number">75%</span>
                    <div class="pie_progress__svg"><svg version="1.1" preserveAspectRatio="xMinYMin meet" viewBox="0 0 160 160"><ellipse rx="75" ry="75" cx="80" cy="80" stroke="#f2f2f2" fill="none" stroke-width="10"></ellipse><path fill="none" stroke-width="10" stroke="#929faa" d="M80,5 A75,75 0 1 1 5,80.00000000000001" style="stroke-dasharray: 353.479, 353.479; stroke-dashoffset: 0;"></path></svg></div></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tbl-cell">
              <div class="tbl tbl-item">
                <div class="tbl-row">
                  <div class="tbl-cell">
                    <div class="title">Hazırlanıyor</div>
                    <div class="amount">4</div>
                  </div>
                  <div class="tbl-cell tbl-cell-progress">
                    <div class="circle-progress-bar-typical size-56 pieProgress pie_progress" role="progressbar" data-goal="75" data-barcolor="#929faa" data-barsize="10" aria-valuemin="0" aria-valuemax="100" aria-valuenow="75">
                      <span class="pie_progress__number">75%</span>
                    <div class="pie_progress__svg"><svg version="1.1" preserveAspectRatio="xMinYMin meet" viewBox="0 0 160 160"><ellipse rx="75" ry="75" cx="80" cy="80" stroke="#f2f2f2" fill="none" stroke-width="10"></ellipse><path fill="none" stroke-width="10" stroke="#929faa" d="M80,5 A75,75 0 1 1 5,80.00000000000001" style="stroke-dasharray: 353.479, 353.479; stroke-dashoffset: 0;"></path></svg></div></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tbl-cell">
              <div class="tbl tbl-item">
                <div class="tbl-row">
                  <div class="tbl-cell">
                    <div class="title">Ongoing</div>
                    <div class="amount">5</div>
                  </div>
                  <div class="tbl-cell tbl-cell-progress">
                    <div class="circle-progress-bar-typical size-56 pieProgress pie_progress" role="progressbar" data-goal="75" data-barcolor="#929faa" data-barsize="10" aria-valuemin="0" aria-valuemax="100" aria-valuenow="75">
                      <span class="pie_progress__number">75%</span>
                    <div class="pie_progress__svg"><svg version="1.1" preserveAspectRatio="xMinYMin meet" viewBox="0 0 160 160"><ellipse rx="75" ry="75" cx="80" cy="80" stroke="#f2f2f2" fill="none" stroke-width="10"></ellipse><path fill="none" stroke-width="10" stroke="#929faa" d="M80,5 A75,75 0 1 1 5,80.00000000000001" style="stroke-dasharray: 353.479, 353.479; stroke-dashoffset: 0;"></path></svg></div></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tbl-cell">
              <div class="tbl tbl-item">
                <div class="tbl-row">
                  <div class="tbl-cell">
                    <div class="title">Bekliyor</div>
                    <div class="amount">8</div>
                  </div>
                  <div class="tbl-cell tbl-cell-progress">
                    <div class="circle-progress-bar-typical size-56 pieProgress pie_progress" role="progressbar" data-goal="75" data-barcolor="#929faa" data-barsize="10" aria-valuemin="0" aria-valuemax="100" aria-valuenow="75">
                      <span class="pie_progress__number">75%</span>
                    <div class="pie_progress__svg"><svg version="1.1" preserveAspectRatio="xMinYMin meet" viewBox="0 0 160 160"><ellipse rx="75" ry="75" cx="80" cy="80" stroke="#f2f2f2" fill="none" stroke-width="10"></ellipse><path fill="none" stroke-width="10" stroke="#929faa" d="M80,5 A75,75 0 1 1 5,80.00000000000001" style="stroke-dasharray: 353.479, 353.479; stroke-dashoffset: 0;"></path></svg></div></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tbl-cell">
              <div class="tbl tbl-item">
                <div class="tbl-row">
                  <div class="tbl-cell">
                    <div class="title">İptal Edildi</div>
                    <div class="amount">15</div>
                    <div class="amount-sm hide">2</div>
                  </div>
                  <div class="tbl-cell tbl-cell-progress">
                    <div class="circle-progress-bar-typical size-56 pieProgress pie_progress" role="progressbar" data-goal="75" data-barcolor="#929faa" data-barsize="10" aria-valuemin="0" aria-valuemax="100" aria-valuenow="75">
                      <span class="pie_progress__number">75%</span>
                    <div class="pie_progress__svg"><svg version="1.1" preserveAspectRatio="xMinYMin meet" viewBox="0 0 160 160"><ellipse rx="75" ry="75" cx="80" cy="80" stroke="#f2f2f2" fill="none" stroke-width="10"></ellipse><path fill="none" stroke-width="10" stroke="#929faa" d="M80,5 A75,75 0 1 1 5,80.00000000000001" style="stroke-dasharray: 353.479, 353.479; stroke-dashoffset: 0;"></path></svg></div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container-fluid">
<div class="row">
  <div class="col-md-3">
    <section class="widget widget-pie-chart">
            <div class="no-padding">
              <div class="tbl tbl-grid text-center">

                <div class="tbl-row">
                  <div class="tbl-cell tbl-cell-30">
                    <div class="display-inline">
                      <div class="chart-legend">
                        <div class="circle red"></div>
                        <div class="percent">85</div>
                        <div class="caption">Bekliyor</div>
                      </div>
                      <div class="chart-legend">
                        <div class="circle orange"></div>
                        <div class="percent">41</div>
                        <div class="caption">Teslim edildi</div>
                      </div>
                    </div>
                  </div>
                  <div class="tbl-cell tbl-cell-30">
                    <div class="display-inline">
                      <div class="chart-legend">
                        <div class="circle purple"></div>
                        <div class="percent">12</div>
                        <div class="caption">Onaylandı</div>
                      </div>
                      <div class="chart-legend">
                        <div class="circle blue"></div>
                        <div class="percent">39</div>
                        <div class="caption">İptal Edildi</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section><!--.widget-pie-chart-->
  </div>
  <div class="col-md-9">
    <section class="box-typical">
        <header class="box-typical-header">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-title">
              <h3>23 Order  </h3>
            </div>
            <div class="tbl-cell" style="width:150px;">
              <select name="status" id="exampleSelect" class="form-control">
                <option value="1" selected>Start Date</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
            <div class="tbl-cell" style="width:150px;">
              <select name="status" id="exampleSelect" class="form-control">
                <option value="1" selected>End Date</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
            <div class="tbl-cell" style="width:150px;">
              <select name="status" id="exampleSelect" class="form-control">
                <option value="1" selected>Status</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
            <div class="tbl-cell" style="width:150px;">
                          <select name="sehir" id="exampleSelect" class="form-control">
                <option value="1" selected>baksan</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
            <div class="tbl-cell tbl-cell-action-bordered">
              <button type="button" class="action-btn"><i class="font-icon font-icon-re"></i></button>
            </div>
            <div class="tbl-cell tbl-cell-action-bordered"  width="54">
              <button type="button" class="action-btn"><i class="font-icon font-icon-trash"></i></button>
            </div>
          </div>
        </header>
        <div class="box-typical-body">
          <div class="table-responsive">
      <table id="table-edit" class="table table-bordered table-hover">
        <thead>
        <tr>
          <th width="1">#</th>
          <th width="80">O.Id</th>
          <th width="80">P.Type</th>
          <th width="80">R.Type</th>
          <th width="80">P.Status</th>
          <th width="80">O.Status</th>
          <th width="80">S.Total</th>
          <th width="80">Total</th>
          <th width="120">Date</th>
          <th  width="1"></th>
        </tr>
        </thead>
        <tbody>
                  <tr v-for="order in orders">
          <td>{{order.id}}</td>
          <td>{{order.order_no}}</td>
          <td>{{order.payment_type}}</td>
          <td>{{order.order_type}}</td>
          <td>{{order.payment_status}}</td>
          <td>{{order.order_status}}</td>
          <td>{{order.sub_total}}</td>
          <td>{{order.grand_total}}</td>
           <td>{{order.added_date}}</td>
            <td width="54">
              <button type="button" class="btn btn-inline btn-default-outline btn-sm">
<i class="glyphicon glyphicon-list"></i>
</button>
            </td>
        </tr>
        </tbody>
      </table>

          </div>
        </div><!--.box-typical-body-->
      </section><!--.box-typical-->
  </div>
</div>




      <table id="table-xs" class="table table-bordered table-hover table-xs hide">
        <thead>
        <tr>
          <th width="1">
            # Id
          </th>
          <th>Orde No</th>
          <th>D.Name</th>
          <th>
            Grand Total
          </th>
          <th>
            Order Type
          </th>
          <th width="120">Date</th>
        </tr>
        </thead>
        <tbody>


        </tbody>
      </table>
    </div>
  </div>

</template>

<script>

module.exports = {
  name: "app-table",
  mixins: [],
    data(){
    return {
      doluData: {
        sen: 1,
        ben: 2
      },
      orders: []
    }
  },
  props: [],
  methods: {
    tiklabana: function(){
        //this.$store.commit('increment')
    },

    getCategories: function(){
        fetch('/api/table/rst_order').then((res) => {
          return res.json()
        }).then((json) => {
          this.orders = json
        })
    }
  },
  mounted(){

  },
  created(){
    this.getCategories()
  }
}
</script>

<style>
</style>

