    .hide {
        display: none;
    }

    .nav-vertical a {
        font-weight: 600;
        color: #607D8B !important;
    }

    ul.nav.nav-pills.nav-ver {
        flex-direction: column;
    }

    .item-title {
        font-weight: 600;
        color: #607D8B !important;
        margin: 0;
        font-size: 1.1rem;
    }