<template>
  <div>
      <div class="page-content">
    <div class="container-fluid">
blank
  </div>
  </div>
  </div>
  </template>

  <script>

  module.exports = {
    name: "home",
          data() {
        return {
          defaultData: "merhaba",
          time: 0
        };
      },
          computed: {
            canli : function(){
              let dene = 0;
             window.loadScript2('/assets/js/lib/moment/moment-with-locales.min.js', (res) => {
          this.time =  window.moment().format('MMMM Do YYYY, h:mm:ss a')
        })
             return dene;
            }
          },
      mounted() {


      },
      beforeCreate() {

      },
      created() {

      },
          methods: {

      },
  }
  </script>

  <style>
  </style>

