<template>
  <div>
      <div class="page-content">
    <div class="container-fluid">
     <table id="table-xs" class="table table-bordered table-hover table-xs">
      <thead>
                    <tr>
                      <th width="1">S.No</th>
                      <th>Offer Name</th>
                      <th>Offer Discount</th>
                      <th>Minimum Price</th>
                      <th>Valid From</th>
                      <th>Valid To</th>
                      <th>Status</th>
                      <th>Added Date</th>
                      <th>Action</th>
                    </tr>
                  </thead>
        <tbody>
<tr>
  <td>1</td>
  <td>Rabat</td>
  <td>15%</td>
  <td>DKK 199.00</td>
  <td>March 08, 2018</td>
  <td>August 09, 2018</td>
  <td>true</td>
  <td>January 19, 2017</td>
  <td>edit</td>
</tr>
<tr>
  <td>2</td>
  <td>Tilbud</td>
  <td>15%</td>
  <td>DKK 199.00</td>
  <td>March 08, 2018</td>
  <td>August 09, 2018</td>
  <td>true</td>
  <td>January 19, 2017</td>
  <td>edit</td>
</tr>


        </tbody>
      </table>
  </div>
  </div>
  </div>
  </template>

  <script>

  module.exports = {
    name: "offer",
    data() {
    return {};
    },
    computed: {},
    mounted() {},
    beforeCreate() {},
    created() {},
    methods: {}
  }
  </script>

  <style>
  </style>

