<template>
  <div>
      <div class="page-content">
    <div class="container-fluid">
          <div class="table-responsive">
      <table id="table-edit" class="table table-bordered table-hover">
        <thead>
        <tr>
          <th width="1">#</th>
          <th width="80">O.Id</th>
          <th width="80">Customer Name</th>
          <th width="80">P.Type</th>
          <th width="80">R.Type</th>
          <th width="80">S.Total</th>
          <th width="80">Total</th>
          <th width="120">Date</th>
          <th  width="1"></th>
        </tr>
        </thead>
        <tbody>
                  <tr v-for="order in reports">
          <td>{{order.id}}</td>
          <td>{{order.order_no}}</td>
          <td>{{order.delivery_name}}</td>
          <td>{{order.payment_type}}</td>
          <td>{{order.order_type}}</td>
          <td>{{order.sub_total}}</td>
          <td>{{order.grand_total}}</td>
           <td>{{order.added_date}}</td>
            <td width="54">
              <button type="button" class="btn btn-inline btn-default-outline btn-sm">
<i class="glyphicon glyphicon-list"></i>
</button>
            </td>
        </tr>
        </tbody>
      </table>

          </div>
  </div>
  </div>
  </div>
  </template>

  <script>

  module.exports = {
    name: "report",
    data() {
    return {
      reports: []
    };
    },
    computed: {},
    beforeCreate() {},
      methods: {
    tiklabana: function(){
        //this.$store.commit('increment')
    },

    getReports: function(){
        fetch('/api/table/rst_order').then((res) => {
          return res.json()
        }).then((json) => {
          this.reports = json
        })
    }
  },
  mounted(){

  },
  created(){
    this.getReports()
  }
  }
  </script>

  <style>
  </style>
