<template>
  <div>
      <div class="page-content">
    <div class="container-fluid">

<table id="table-xs" class="table table-bordered table-hover table-xs">
<thead>
  <tr>
    <th>S.No</th>
    <th>User Name</th>
    <th>Rating</th>
    <th>Review</th>
    <th>Status</th>
    <th>Added Date</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>1</td>
    <td>Ali Veli</td>
    <td>5</td>
    <td>Description</td>
    <td>Active</td>
    <td>November 17, 2017</td>
    <td>edit</td>
  </tr>
</tbody>
</table>
  </div>
  </div>
  </div>
  </template>

  <script>

  module.exports = {
    name: "review",
    data() {
    return {};
    },
    computed: {},
    mounted() {},
    beforeCreate() {},
    created() {},
    methods: {}
  }
  </script>

  <style>
  </style>

