<template>
  <div>
      <div class="page-content">
    <div class="container-fluid">
<table id="table-xs" class="table table-bordered table-hover table-xs">
<thead>
  <tr>
    <th>S.No</th>
    <th>Voucher Name</th>
    <th>Voucher Code</th>
    <th>Voucher Discount</th>
    <th>Valid From</th>
    <th>Valid To</th>
    <th>Status</th>
    <th>Added Date</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>1</td>
    <td>Gratis Levering</td>
    <td>123456</td>
    <td>DKK 25.00</td>
    <td>November 03, 2017</td>
    <td>November 17, 2017</td>
    <td>true</td>
    <td>March 02, 2017</td>
    <td>edit</td>
  </tr>
</tbody>
</table>
  </div>
  </div>
  </div>
  </template>

  <script>

  module.exports = {
    name: "voucher",
    data() {
    return {};
    },
    computed: {},
    mounted() {},
    beforeCreate() {},
    created() {},
    methods: {}
  }
  </script>

  <style>
  </style>

