<template>
  <div>
    <header-comp> </header-comp>
    <headersort></headersort>
    <router-view></router-view>
    <footer-comp></footer-comp>
  </div>
</template>

<script>
  var Header = httpVueLoader('../part/header.vue')
  var HeaderSort = httpVueLoader('../part/header-sort.vue')
  var Footer = httpVueLoader('../part/footer.vue')
  module.exports = {
    name: "home",
    methods: {},
    components: {
      'headersort': HeaderSort,
      'header-comp': Header,
      "footer-comp": Footer
    },
  }
</script>

<style>
  
</style>

