<template>
  <div>
           <section class="card mb-3">
        <header class="card-header">
          Offline
        </header>
        <div class="card-block" style="padding: 10px 30px;">
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Offline Status</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                yes/no
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Offline Notes</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <textarea placeholder="Offline Notes" rows="4">

                </textarea>
              </p>
            </div>
          </div>


        </div>
      </section>
  </div>
  </template>

  <script>

  module.exports = {
    name: "home",
    data() {
    return {
      names : [
      'offline_status',
      'offline_notes'
      ]
    };
    },
    computed: {},
    mounted() {},
    beforeCreate() {},
    created() {},
    methods: {}
  }
  </script>

  <style>
  </style>
