<template>
  <div>
           <section class="card mb-3">
        <header class="card-header">
          Informations (information: açılış,kapanış,adres bilgileri)
        </header>
        <div class="card-block">
          <div class="row">
            <div class="col-md-12">
             <div style="padding: 10px 30px;">
                <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Kasaba</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="text" class="form-control"  placeholder="Kasaba">
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Mahalle</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="text" class="form-control"  placeholder="Kasaba">
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Zip Code</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="text" class="form-control"  placeholder="Kasaba">
              </p>
            </div>
          </div>

          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">City</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="text" class="form-control"  placeholder="Kasaba">
              </p>
            </div>
          </div>
                    <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Description</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <textarea rows="4" class="form-control" placeholder="Body"></textarea>
              </p>
            </div>
          </div>
                <div class="form-group">
                  <label class="form-label semibold">Title:</label>
                  <input type="text" class="form-control" placeholder="Title"/>
                </div>
  <div class="form-group">
              <label class="form-label semibold">Country:</label>

                <input type="text" class="form-control" placeholder="Left">
            </div>
                <div class="form-group">
                  <label class="form-label semibold">Zip Code:</label>
                  <input type="text" class="form-control" placeholder="Zip Code"/>
                </div>

                <div class="form-group">
                  <label class="form-label semibold">City:</label>
                  <input type="text" class="form-control" placeholder="City"/>
                </div>
                <div class="form-group">
                  <label class="form-label semibold">Enlem:</label>
                  <input type="text" class="form-control" placeholder="Enlem"/>
                </div>

                <div class="form-group">
                  <label class="form-label semibold">Boylam:</label>
                  <input type="text" class="form-control" placeholder="Boylam"/>
                </div>
                <div class="form-group">
                  <label class="form-label semibold">Body:</label>
                  <textarea rows="4" class="form-control" placeholder="Body"></textarea>
                </div>
                </div>



            </div>
            <div class="col-md-4">
              <div class="text-center">

</div>

            </div>
          </div>

        </div>
      </section>
  </div>
  </template>

  <script>

  module.exports = {
    name: "home",
    data() {
    return {
      names: [
        'restaurant_address',
        'restaurant_county',
        'restaurant_city',
        'restaurant_state',
        'restaurant_zipcode',
        'restaurant_latitude',
        'restaurant_longtitude',
        "order_status",
        "login_with_fb_appid",
        "restaurant_status",
        "restaurant_deleted"
      ]
  };
    },
    computed: {},
    mounted() {},
    beforeCreate() {},
    created() {},
    methods: {}
  }
  </script>

  <style>
  </style>
