<template>
  <div>
           <section class="card mb-3">
        <header class="card-header">
          Currency
        </header>
        <div class="card-block" style="padding: 10px 30px;">
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Currency View Type</label>
            <div class="col-sm-9">
              <p class="form-control-static">
               radio image/symbol
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Currency Symbol</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="text" class="form-control"  placeholder="C.Symbol">
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Currency Image</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="text" class="form-control"  placeholder="C.Image">
              </p>
            </div>
          </div>


        </div>
      </section>
  </div>
  </template>

  <script>

  module.exports = {
    name: "home",
    data() {
    return {
      names : [
      'currency_option',
      'currencyimg',
      'currency_sym'
      ]
    };
    },
    computed: {},
    mounted() {},
    beforeCreate() {},
    created() {},
    methods: {}
  }
  </script>

  <style>
  </style>
