<template>
  <div>
           <section class="card mb-3">
        <header class="card-header">
          Receiving Order Settings
        </header>
        <div class="card-block" style="padding: 10px 30px;">
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Email</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="text" class="form-control"  placeholder="Email">
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Fax</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="text" class="form-control"  placeholder="Fax">
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">GPRS</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="text" class="form-control"  placeholder="GPRS">
              </p>
            </div>
          </div>


        </div>
      </section>
  </div>
  </template>

  <script>

  module.exports = {
    name: "home",
    data() {
    return {
    names: [
      'enable_email',
      'email_id',
      'enable_fax',
      'fax_no',
      'enable_gprsPrinter'
    ],
    };
    },
    computed: {},
    mounted() {},
    beforeCreate() {},
    created() {},
    methods: {}
  }
  </script>

  <style>
  </style>
