<template>
  <div>
           <section class="card mb-3">
        <header class="card-header">
          Tax Settings (tax_type: .tr/$/%)
        </header>
        <div class="card-block" style="padding: 10px 30px;">
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Sales Tax</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="number" class="form-control"  value="0.00" placeholder="0.00">
                The sales tax to charge for each order.
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Fax</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="text" class="form-control"  placeholder="Fax">
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">GPRS</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="text" class="form-control"  placeholder="GPRS">
              </p>
            </div>
          </div>


        </div>
      </section>

        <section class="box-typical">
        <header class="box-typical-header">
          <div class="tbl-row">
            <div class="tbl-cell tbl-cell-title">
Tax
            </div>
            <div class="tbl-cell tbl-cell-actions">

              <button type="button" class="btn btn-primary btn-sm">
                <span class="icon fa fa-plus"></span> New Tax
              </button>
            </div>
          </div>
        </header>

        <div class="box-typical-body">
      <table id="table-edit" class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>
            Tax Name
          </th>
          <th>Rate</th>
          <th width="55">Manage</th>
        </tr>
        </thead>
        <tbody>
<tr>
          <td>
            <input type="text" class="form-control" placeholder="Tax Name" value="Tax 1" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">%</div>
                <input type="text" class="form-control" value="17" placeholder="Rate">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>
                                           <div class="btn-group btn-group-sm" style="float: none;">
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <i class="fa fa-ban"></i>
                                            </button>
                                            <button type="button" class="tabledit-delete-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                           </div>
            </td>
        </tr>
        <tr>
          <td>
            <input type="text" class="form-control" placeholder="Tax 2" value="Tax 2" />
        </td>
          <td>
                        <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" value="200" placeholder="Rate">
                <div class="input-group-addon">.00</div>
              </div>        </td>
          <td>
                                           <div class="btn-group btn-group-sm" style="float: none;">
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                              <i class="fa fa-ban"></i>
                                            </button>
                                            <button type="button" class="tabledit-delete-button btn btn-sm btn-default" style="float: none;">
                                              <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                           </div>
            </td>
        </tr>
        </tbody>
      </table>
        </div><!--.tab-content-->
      </section><!--.box-typical-->
  </div>
  </template>

  <script>

  module.exports = {
    name: "home",
    data() {
    return {
          names: [
      'restaurant_sales_tax',
      'restaurant_tax_type',
      'restaurant_tax_name',
    ]
    };
    },
    computed: {},
    mounted() {},
    beforeCreate() {},
    created() {},
    methods: {}
  }
  </script>

  <style>
  </style>
