<template>
  <div>
           <section class="card mb-3">
        <header class="card-header">
          Plugins
        </header>
        <div class="card-block" style="padding: 10px 30px;">

plugins form

        </div>
      </section>
  </div>
  </template>

  <script>

  module.exports = {
    name: "home",
    data() {
    return {};
    },
    computed: {},
    mounted() {},
    beforeCreate() {},
    created() {},
    methods: {}
  }
  </script>

  <style>
  </style>
