<template>
  <div>
 <section class="card mb-3">
        <header class="card-header">
          Times
        </header>
        <div class="card-block">
          <div class="row">
            <div class="col-md-3">
               <select name="sel0" class="form-control">
                                                    <option value="sunday">
                            Pazar
                          </option>
                                                    <option value="monday" selected="selected">
                            Pazartesi
                          </option>
                                                    <option value="tuesday">
                            Salı
                          </option>
                                                    <option value="wednesday">
                            Çarşamba
                          </option>
                                                    <option value="thursday">
                            Perşembe
                          </option>
                                                    <option value="friday">
                            Cuma
                          </option>
                                                    <option value="saturday">
                            Cumartesi
                          </option>
                                                  </select>
            </div>
            <div class="col-md-3">
              <select name="sel1" class="form-control">
                                                      <option value="660" selected="selected">11.00</option>
                                                      <option value="675">11.15</option>
                                                      <option value="690">11.30</option>
                                                      <option value="705">11.45</option>
                                                      <option value="720">12.00</option>
                                                      <option value="735">12.15</option>
                                                      <option value="750">12.30</option>
                                                      <option value="765">12.45</option>
                                                      <option value="780">13.00</option>
                                                      <option value="795">13.15</option>
                                                      <option value="810">13.30</option>
                                                      <option value="825">13.45</option>
                                                      <option value="840">14.00</option>
                                                      <option value="855">14.15</option>
                                                      <option value="870">14.30</option>
                                                      <option value="885">14.45</option>
                                                      <option value="900">15.00</option>
                                                      <option value="915">15.15</option>
                                                      <option value="930">15.30</option>
                                                      <option value="945">15.45</option>
                                                      <option value="960">16,00</option>
                                                      <option value="975">16.15</option>
                                                      <option value="990">16.30</option>
                                                      <option value="1005">16.45</option>
                                                      <option value="1020">17.00</option>
                                                      <option value="1035">17.15</option>
                                                      <option value="1050">17,30</option>
                                                      <option value="1065">17.45</option>
                                                      <option value="1080">18.00</option>
                                                      <option value="1095">18.15</option>
                                                      <option value="1110">18,30</option>
                                                      <option value="1125">18.45</option>
                                                      <option value="1140">19,00</option>
                                                      <option value="1155">19.15</option>
                                                      <option value="1170">19.30</option>
                                                      <option value="1185">19.45</option>
                                                      <option value="1200">20.00</option>
                                                      <option value="1215">20.15</option>
                                                      <option value="1230">20.30</option>
                                                      <option value="1245">20,45</option>
                                                      <option value="1260">21.00</option>
                                                      <option value="1275">21.15</option>
                                                      <option value="1290">21,30</option>
                                                      <option value="1305">21.45</option>
                                                      <option value="1320">22.00</option>
                                                  </select>
            </div>
            <div class="col-md-3">
              <select name="sel2" class="form-control">
                                                      <option value="660" selected="selected">11.00</option>
                                                      <option value="675">11.15</option>
                                                      <option value="690">11.30</option>
                                                      <option value="705">11.45</option>
                                                      <option value="720">12.00</option>
                                                      <option value="735">12.15</option>
                                                      <option value="750">12.30</option>
                                                      <option value="765">12.45</option>
                                                      <option value="780">13.00</option>
                                                      <option value="795">13.15</option>
                                                      <option value="810">13.30</option>
                                                      <option value="825">13.45</option>
                                                      <option value="840">14.00</option>
                                                      <option value="855">14.15</option>
                                                      <option value="870">14.30</option>
                                                      <option value="885">14.45</option>
                                                      <option value="900">15.00</option>
                                                      <option value="915">15.15</option>
                                                      <option value="930">15.30</option>
                                                      <option value="945">15.45</option>
                                                      <option value="960">16,00</option>
                                                      <option value="975">16.15</option>
                                                      <option value="990">16.30</option>
                                                      <option value="1005">16.45</option>
                                                      <option value="1020">17.00</option>
                                                      <option value="1035">17.15</option>
                                                      <option value="1050">17,30</option>
                                                      <option value="1065">17.45</option>
                                                      <option value="1080">18.00</option>
                                                      <option value="1095">18.15</option>
                                                      <option value="1110">18,30</option>
                                                      <option value="1125">18.45</option>
                                                      <option value="1140">19,00</option>
                                                      <option value="1155">19.15</option>
                                                      <option value="1170">19.30</option>
                                                      <option value="1185">19.45</option>
                                                      <option value="1200">20.00</option>
                                                      <option value="1215">20.15</option>
                                                      <option value="1230">20.30</option>
                                                      <option value="1245">20,45</option>
                                                      <option value="1260">21.00</option>
                                                      <option value="1275">21.15</option>
                                                      <option value="1290">21,30</option>
                                                      <option value="1305">21.45</option>
                                                      <option value="1320">22.00</option>
                                                  </select>
            </div>

            <div class="col-md-3">Kapalı</div>

          </div>

        </div>
      </section>
  </div>
  </template>

  <script>

  module.exports = {
    name: "home",
    data() {
    return {
            names: [
        "closed_sunday",
        "opening_time_sunday",
        "closeing_time_sunday",
        "closed_monday",
        "opening_time_monday",
        "closeing_time_monday",
        "closed_tuesday",
        "opening_time_tuesday",
        "closeing_time_tuesday",
        "closed_wednesday",
        "opening_time_wednesday",
        "closeing_time_wednesday",
        "closed_thursday",
        "opening_time_thursday",
        "closeing_time_thursday",
        "closed_friday",
        "opening_time_friday",
        "closeing_time_friday",
        "closed_saturday",
        "opening_time_saturday",
        "closeing_time_saturday"
      ]
    };
    },
    computed: {},
    mounted() {},
    beforeCreate() {},
    created() {},
    methods: {}
  }
  </script>

  <style>
  </style>
