<template>
  <div>
           <section class="card mb-3">
        <header class="card-header">
          Site
        </header>
        <div class="card-block" style="padding: 10px 30px;">
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Admin Name</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="text" class="form-control"  placeholder="Admin Name">
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Admin Email</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="email" class="form-control"  placeholder="Admin Email">
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Mobile Number</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="text" class="form-control"  placeholder="Mobile Number">
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Site Name</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="text" class="form-control"  placeholder="Site Name">
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Site Domain</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="text" class="form-control"  placeholder="Site Domain">
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Page in User side</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="number" class="form-control" value="10"  placeholder="Page in User side">
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Page in Admin side</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="number" class="form-control" value="10"  placeholder="Page in Admin side">
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Enable Book a table</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                yes/no
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">User Friendly</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                yes/no
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Country</label>
            <div class="col-sm-9">
              <select name="country">
                <option value="bir">bir</option>
              </select>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Time Zone</label>
            <div class="col-sm-9">
              <select name="time_zone">
                <option value="bir">zone 1</option>
              </select>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Facebook App ID</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="text" class="form-control"  placeholder="Facebook App ID">
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Facebook App Secret</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="text" class="form-control"  placeholder="Facebook App Secret">
              </p>
            </div>
          </div>


        </div>
      </section>
  </div>
  </template>

  <script>

  module.exports = {
    name: "home",
    data() {
    return {
      names: [
      'site_admin_name',
      'site_admin_email',
      'site_phone_no',
      'site_name',
      'site_domain',
      'sitelogo',
      'site_fav_icon',
      'user_page',
      'admin_page',
      'bookatable',
      'userfriendly',
      'site_country',
      'site_timezone',
      'facebook_app_id',
      'facebook_app_secret'
      ]
    };
    },
    computed: {},
    mounted() {},
    beforeCreate() {},
    created() {},
    methods: {}
  }
  </script>

  <style>
  </style>
