<template>
  <div>
           <section class="card mb-3">
        <header class="card-header">
          Meta
        </header>
        <div class="card-block" style="padding: 10px 30px;">

          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Metatag Title</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input v-model="site_meta.site_metatag_title" type="text" class="form-control"  placeholder="Title">
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Metatag Keyword</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <textarea rows="4" v-model="site_meta.site_metatag_keyword" class="form-control" placeholder="Metatag Keyword" rows="4">
key1,key2
                </textarea>
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Metatag Description</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <textarea rows="4" v-model="site_meta.site_metatag_desc" class="form-control" placeholder="Metatag Description" rows="4">
Metatag Description
                </textarea>
              </p>
            </div>
          </div>



        </div>
      </section>
  </div>
  </template>

  <script>

  module.exports = {
    name: "home",
    data() {
    return {
      names : [
      "site_metatag_title",
      "site_metatag_keyword",
      "site_metatag_desc"
      ]
      site_meta : {}
    };
    },
    computed: {},
    mounted() {
      localforage.getItem('site_settings_' + localStorage.getItem('restaurant_id'))
      .then(data => this.site_meta = data.setting_site)
    },
    beforeCreate() {},
    created() {},
    methods: {}
  }
  </script>

  <style>
  </style>
