<template>
  <div>
           <section class="card mb-3">
        <header class="card-header">
          Analiytics
        </header>
        <div class="card-block" style="padding: 10px 30px;">
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Google Analytics Code</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <textarea placeholder="Google Analytics Code" rows="4">
Google Analytics Code
                </textarea>
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Yandex Analytics Code</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <textarea placeholder="Yandex Analytics Code" rows="4">
Yandex Analytics Code
                </textarea>
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Woopra Analytics Code</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <textarea placeholder="Woopra Analytics Code" rows="4">
Woopra Analytics Code
                </textarea>
              </p>
            </div>
          </div>


        </div>
      </section>
  </div>
  </template>

  <script>

  module.exports = {
    name: "home",
    data() {
    return {
      names : [
      'google_analytic_code',
      'woopra_analytic_code',
      'yandex_analytic_code'
      ]
    };
    },
    computed: {},
    mounted() {},
    beforeCreate() {},
    created() {},
    methods: {}
  }
  </script>

  <style>
  </style>
