<template>
  <div>
           <section class="card mb-3">
        <header class="card-header">
          Payment Settings
        </header>
        <div class="card-block" style="padding: 10px 30px;">
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Enable Cash on Delivery</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="checkbox" class="form-control">Select this box to accept payment from customers when they receive their order.
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Maximum Order Total</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="number" class="form-control"  placeholder="700">
                Enter the maximum amount allowed for a pay-in-person order. Orders above this amount will be required to use a credit card.
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Enable Paypal Email</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="checkbox" class="form-control">Select this box to accept payment from customers when they receive their order.
              </p>
            </div>
          </div>

          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Paypal Mode</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="radio" class="form-control">live. / <input type="radio" class="form-control">test.
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Paypal Url</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="text" class="form-control" placeholder="http://">
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Business Account</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="email" class="form-control" placeholder="bus@gmail.com">
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Enable Stripe</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="checkbox" class="form-control"> Select this box to enable Stripe.
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Stripe Mode</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="radio" class="form-control">live. / <input type="radio" class="form-control">test.
              </p>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Publisher Id</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="radio" class="form-control" value="sk_live_ra9nCIXwxSjSQRxe8fWCCwhX" placeholder="ids4646d5f456ds">
              </p>
            </div>
          </div>


        </div>
      </section>
  </div>
  </template>

  <script>

  module.exports = {
    name: "home",
    data() {
    return {
    names: [
      'enable_cash_on',
      'cash_max_amt',
      'enable_paypal_paymentMethod',
      'order_mode',
      'paypal_liveUrl',
      'paypal_testUrl',
      'paypal_email',
      'enable_stripe',
      'stripe_payment_mode',
      'stripe_live_publisher_id',
      'stripe_test_publisher_id'
    ],
    };
    },
    computed: {},
    mounted() {},
    beforeCreate() {},
    created() {},
    methods: {}
  }
  </script>

  <style>
  </style>
