<template>
  <div>
      <section class="card mb-3">
        <header class="card-header">
          Images
        </header>
        <div class="card-block" style="padding: 10px 30px;">
          <div class="form-group row ">
            <label class="col-sm-3 form-control-label semibold">Logo</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <input type="text" class="form-control"  placeholder="Url">
              </p>
            </div>
          </div>
        </div>
      </section>
  </div>
  </template>

  <script>

  module.exports = {
    name: "home",
    data() {
    return {};
    },
    computed: {},
    mounted() {},
    beforeCreate() {},
    created() {},
    methods: {}
  }
  </script>

  <style>
  </style>
